<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Random Passcode Generate</title>
         <link rel="stylesheet" href="~/css/style.css"/>

    </head>
    <body>
        <h1>Random Passcode (passcode @ViewBag.Count)</h1>
        
           <p> @ViewBag.PassCode</p>
           
            <a href="/"><button type="submit">Generate</button></a>
        

    </body>
</html>
